<div class="step-form">
    <h2>Comportements liés à la consommation des SPA et tests de dépistage</h2>

    <div class="form-section" [formGroup]="behaviorsForm">
        <div class="form-group">
            <label class="form-group__label">Voie d'administration habituelle (substance principale)</label>
            <div class="checkbox-group">
                <ng-container *ngFor="let option of usualRouteOptions; let i = index">
                    <div class="checkbox-option">
                        <label [for]="'route-' + option.uuidUsualRouteOfAdministration">{{ option.usualRouteOfAdministrationLabel }}</label>
                        <div class="radio-group">
                            <div class="radio-option">
                                <label [for]="option.uuidUsualRouteOfAdministration + '-yes'">Oui</label>
                                <input
                                        type="radio"
                                        [id]="option.uuidUsualRouteOfAdministration + '-yes'"
                                        [name]="'route-' + option.uuidUsualRouteOfAdministration"
                                        (change)="onRouteChange(i, true)"
                                        [checked]="behaviorsForm.get('usualRouteOfAdministrationOfPrincipalSubstanceUuidUsualRouteOfAdministration')?.value[i] === true">
                            </div>
                            <div class="radio-option">
                                <label [for]="option.uuidUsualRouteOfAdministration + '-no'">Non</label>
                                <input
                                        type="radio"
                                        [id]="option.uuidUsualRouteOfAdministration + '-no'"
                                        [name]="'route-' + option.uuidUsualRouteOfAdministration"
                                        (change)="onRouteChange(i, false)"
                                        [checked]="behaviorsForm.get('usualRouteOfAdministrationOfPrincipalSubstanceUuidUsualRouteOfAdministration')?.value[i] === false">
                            </div>
                        </div>
                    </div>

                    <div *ngIf="option.uuidUsualRouteOfAdministration === -1 && behaviorsForm.get('usualRouteOfAdministrationOfPrincipalSubstanceUuidUsualRouteOfAdministration')?.value[i] === true" class="nested-form">
                        <label class="form-group__label">Préciser autre</label>
                        <input
                                type="text"
                                formControlName="otherUsualRouteOfAdministrationOfPrincipalSubstance"
                                class="form-control"
                                placeholder="Préciser">
                        <div class="error-message" *ngIf="behaviorsForm.get('otherUsualRouteOfAdministrationOfPrincipalSubstance')?.invalid && behaviorsForm.get('otherUsualRouteOfAdministrationOfPrincipalSubstance')?.touched">
                            Ce champ est obligatoire
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="error-message" *ngIf="!areAllRouteOptionsAnswered() && behaviorsForm.get('usualRouteOfAdministrationOfPrincipalSubstanceUuidUsualRouteOfAdministration')?.touched">
                Veuillez répondre à toutes les options
            </div>
        </div>

        <div class="form-group">
            <label class="form-group__label">Fréquence de consommation de la substance principale</label>
            <div class="checkbox-group">
                <div *ngFor="let option of consumptionFrequencyOptions" class="checkbox-option">
                    <label [for]="'frequency-' + option.uuidConsumptionFrequency">{{ option.consumptionFrequencyMotif }}</label>
                    <input
                            type="checkbox"
                            [id]="'frequency-' + option.uuidConsumptionFrequency"
                            [checked]="behaviorsForm.get('usualRouteOfAdministrationFrequencyOfPrincipalSubstanceUuidConsumptionFrequency')?.value === option.uuidConsumptionFrequency"
                            (change)="handleFrequencyChange($event, option.uuidConsumptionFrequency)">
                </div>
            </div>
            <div class="error-message" *ngIf="behaviorsForm.get('usualRouteOfAdministrationFrequencyOfPrincipalSubstanceUuidConsumptionFrequency')?.invalid && behaviorsForm.get('usualRouteOfAdministrationFrequencyOfPrincipalSubstanceUuidConsumptionFrequency')?.touched">
                Veuillez sélectionner une fréquence de consommation
            </div>
        </div>

        <div class="form-group">
            <label class="form-group__label">Âge lors de la première consommation de la substance principale (en années)</label>
            <input
                    type="number"
                    formControlName="ageOfConsumptionOfPrincipalSubstance"
                    class="form-control"
                    min="1"
                    placeholder="Entrez l'âge">
            <div class="error-message" *ngIf="behaviorsForm.get('ageOfConsumptionOfPrincipalSubstance')?.invalid && behaviorsForm.get('ageOfConsumptionOfPrincipalSubstance')?.touched">
                <div *ngIf="behaviorsForm.get('ageOfConsumptionOfPrincipalSubstance')?.errors?.['required']">
                    L'âge est obligatoire
                </div>
                <div *ngIf="behaviorsForm.get('ageOfConsumptionOfPrincipalSubstance')?.errors?.['min']">
                    L'âge doit être supérieur à 0
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-group__label">Notion de partage de seringues pendant la période précédente</label>
            <div class="checkbox-group">
                <div *ngFor="let option of syringeSharingOptions" class="checkbox-option">
                    <label [for]="'syringe-sharing-' + option.uuidNotionOfSyringeSharing">{{ option.notionOfSyringeSharingMotif }}</label>
                    <input
                            type="checkbox"
                            [id]="'syringe-sharing-' + option.uuidNotionOfSyringeSharing"
                            [checked]="behaviorsForm.get('notionOfSyringeSharingUuidNotionOfSyringeSharing')?.value === option.uuidNotionOfSyringeSharing"
                            (change)="handleSyringeSharingChange($event, option.uuidNotionOfSyringeSharing)">
                </div>
            </div>
            <div class="error-message" *ngIf="behaviorsForm.get('notionOfSyringeSharingUuidNotionOfSyringeSharing')?.invalid && behaviorsForm.get('notionOfSyringeSharingUuidNotionOfSyringeSharing')?.touched">
                Veuillez sélectionner une option
            </div>
        </div>


        <div class="form-group">
            <label class="form-group__label">Tests de dépistage</label>
            <table class="testing-table">
                <thead>
                <tr>
                    <th>Test</th>
                    <th>Test réalisé</th>
                    <th>Date du test</th>
                </tr>
                </thead>
                <tbody>
                <!-- VIH Test -->
                <tr>
                    <td>VIH</td>
                    <td>
                        <div class="radio-group">
                            <div class="radio-option">
                                <label [for]="'vihTest-1'">Oui</label>
                                <input type="radio" id="vihTest-1" formControlName="vihTest" [value]="true">
                            </div>
                            <div class="radio-option">
                                <label [for]="'vihTest-2'">Non</label>
                                <input type="radio" id="vihTest-2" formControlName="vihTest" [value]="false">
                            </div>
                        </div>
                    </td>
                    <td *ngIf="behaviorsForm.get('vihTest')?.value">
                        <div class="radio-group">
                            <div class="radio-option" *ngFor="let period of testPeriods">
                                <label [for]="'dateVihTest-' + period.value">{{ period.label }}</label>
                                <input
                                        type="radio"
                                        [id]="'dateVihTest-' + period.value"
                                        formControlName="dateVihTest"
                                        [value]="period.value">
                            </div>
                        </div>
                    </td>
                </tr>

                <!-- VHC Test -->
                <tr>
                    <td>VHC</td>
                    <td>
                        <div class="radio-group">
                            <div class="radio-option">
                                <label [for]="'vhcTest-1'">Oui</label>
                                <input type="radio" id="vhcTest-1" formControlName="vhcTest" [value]="true">
                            </div>
                            <div class="radio-option">
                                <label [for]="'vhcTest-2'">Non</label>
                                <input type="radio" id="vhcTest-2" formControlName="vhcTest" [value]="false">
                            </div>
                        </div>
                    </td>
                    <td *ngIf="behaviorsForm.get('vhcTest')?.value">
                        <div class="radio-group">
                            <div class="radio-option" *ngFor="let period of testPeriods">
                                <label [for]="'dateVhcTest-' + period.value">{{ period.label }}</label>
                                <input
                                        type="radio"
                                        [id]="'dateVhcTest-' + period.value"
                                        formControlName="dateVhcTest"
                                        [value]="period.value">
                            </div>
                        </div>
                    </td>
                </tr>

                <!-- VHB Test -->
                <tr>
                    <td>VHB</td>
                    <td>
                        <div class="radio-group">
                            <div class="radio-option">
                                <label [for]="'vhbTest-1'">Oui</label>
                                <input type="radio" id="vhbTest-1" formControlName="vhbTest" [value]="true">
                            </div>
                            <div class="radio-option">
                                <label [for]="'vhbTest-2'">Non</label>
                                <input type="radio" id="vhbTest-2" formControlName="vhbTest" [value]="false">
                            </div>
                        </div>
                    </td>
                    <td *ngIf="behaviorsForm.get('vhbTest')?.value">
                        <div class="radio-group">
                            <div class="radio-option" *ngFor="let period of testPeriods">
                                <label [for]="'dateVhbTest-' + period.value">{{ period.label }}</label>
                                <input
                                        type="radio"
                                        [id]="'dateVhbTest-' + period.value"
                                        formControlName="dateVhbTest"
                                        [value]="period.value">
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <label class="form-group__label">Est ce que vous souhaitez avoir un accompagnement en vue d'un sevrage ?</label>
            <div class="radio-group">
                <div class="radio-option">
                    <label [for]="'supportForWeaning-1'">Oui</label>
                    <input
                            type="radio"
                            id="supportForWeaning-1"
                            formControlName="supportForWeaning"
                            [value]="true">
                </div>
                <div class="radio-option">
                    <label [for]="'supportForWeaning-2'">Non</label>
                    <input
                            type="radio"
                            id="supportForWeaning-2"
                            formControlName="supportForWeaning"
                            [value]="false">
                </div>
            </div>
            <div class="error-message" *ngIf="behaviorsForm.get('supportForWeaning')?.invalid && behaviorsForm.get('supportForWeaning')?.touched">
                Ce champ est obligatoire
            </div>

            <div *ngIf="behaviorsForm.get('supportForWeaning')?.value === false" class="nested-form">
                <label class="form-group__label">Si non pourquoi</label>
                <input
                        type="text"
                        formControlName="whyNotSupportForWeaning"
                        class="form-control"
                        placeholder="Précisez la raison">
                <div class="error-message" *ngIf="behaviorsForm.get('whyNotSupportForWeaning')?.invalid && behaviorsForm.get('whyNotSupportForWeaning')?.touched">
                    Ce champ est obligatoire
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-group__label">Est ce que vous avez déjà tenté le sevrage ?</label>
            <div class="radio-group">
                <div class="radio-option">
                    <label [for]="'triedToQuit-1'">Oui</label>
                    <input
                            type="radio"
                            id="triedToQuit-1"
                            formControlName="triedToQuit"
                            [value]="true">
                </div>
                <div class="radio-option">
                    <label [for]="'triedToQuit-2'">Non</label>
                    <input
                            type="radio"
                            id="triedToQuit-2"
                            formControlName="triedToQuit"
                            [value]="false">
                </div>
            </div>
            <div class="error-message" *ngIf="behaviorsForm.get('triedToQuit')?.invalid && behaviorsForm.get('triedToQuit')?.touched">
                Ce champ est obligatoire
            </div>

            <div *ngIf="behaviorsForm.get('triedToQuit')?.value === true" class="nested-form">
                <label class="form-group__label">Si oui, avec qui ?</label>
                <div class="checkbox-group">
                    <div *ngFor="let option of triedToQuitOptions" class="checkbox-option">
                        <label [for]="'triedToQuit-option-' + option.uuidTriedToQuit">{{ option.triedToQuitLabel }}</label>
                        <input
                                type="checkbox"
                                [id]="'triedToQuit-option-' + option.uuidTriedToQuit"
                                [checked]="(behaviorsForm.get('withWhoTriedToQuitUuidTriedToQuit')?.value || []).includes(option.uuidTriedToQuit)"
                                (change)="handleTriedToQuitOptionChange($event, option.uuidTriedToQuit)">
                    </div>
                </div>
                <div class="error-message" *ngIf="behaviorsForm.get('withWhoTriedToQuitUuidTriedToQuit')?.invalid && behaviorsForm.get('withWhoTriedToQuitUuidTriedToQuit')?.touched">
                    Veuillez sélectionner au moins une option
                </div>

                <div *ngIf="(behaviorsForm.get('withWhoTriedToQuitUuidTriedToQuit')?.value || []).includes(5)" class="nested-form">
                    <label class="form-group__label">Si dans une structure de santé, laquelle ?</label>
                    <input
                            type="text"
                            formControlName="healthStructureTriedToQuit"
                            class="form-control"
                            placeholder="Précisez la structure de santé">
                    <div class="error-message" *ngIf="behaviorsForm.get('healthStructureTriedToQuit')?.invalid && behaviorsForm.get('healthStructureTriedToQuit')?.touched">
                        Ce champ est obligatoire
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
